.toggle-btn svg {
    fill: var(--text);
    transition: fill 0.3s ease;
}

.toggle-btn .icon-dark {
    display: inline;
}

.toggle-btn .icon-light {
    display: none;
}

[data-theme="dark"] .toggle-btn .icon-dark {
    display: none;
}

[data-theme="dark"] .toggle-btn .icon-light {
    display: inline;
}

:root {
    --bg-light: #f4f4f4;
    --text-light: #111;
    --accent-light: #007acc;
    --card-light: #ffffff;
    --tag-light: #e0e0e0;
    --black-border: #160000;
    --bg-dark: #121212;
    --text-dark: #e0e0e0;
    --accent-dark: #90caf9;
    --card-dark: #1f1f1f;
    --tag-dark: #2a2a2a;
}

[data-theme="light"] {
    --bg: var(--bg-light);
    --text: var(--text-light);
    --accent: var(--accent-light);
    --card: var(--card-light);
    --tag: var(--tag-light);
}

[data-theme="dark"] {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
    --accent: var(--accent-dark);
    --card: var(--card-dark);
    --tag: var(--tag-dark);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    transition: background 0.3s ease, color 0.3s ease;
    overflow-x: hidden;
    
}


html, body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: auto;
}

h2 {
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: var(--accent);
}

.top{
    background-image: url(asset/background_image.png);
    margin-bottom: 50px;
}



.header-section {
    width: 100%;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Microsoft YaHei", "Noto Sans SC", sans-serif;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    font-weight: bold;
}

.full-nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.nav-btn {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 8px 12px;
    align-items: center;
    transition: background 0.3s ease, color 0.3s ease;
    background-color: transparent;
    color: var(--text)
}
.nav-btn:hover {
    background: var(--accent);
    color: #fff;
}

.toggle-btn {
    margin-left: auto;
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

#spin-btn{
    margin-left: auto;
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
    transition: transform 0.3s ease;
}

.toggle-btn:hover {
    background: var(--accent);
    color: #fff;
}

.spin {
  animation: rotateOnce 0.6s ease-in-out;
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Typewriter-section{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-bottom: 30px;
}

.typewriter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.typewriter-text{
    font-size: 2.5rem;
    color: #000000;
    white-space: nowrap;
    font-family: "Microsoft YaHei", "Noto Sans SC", sans-serif;
    text-decoration: none;
}

.typewriter-text::after{
    content: "|";
    animation: blink 1s infinite;
    color: #FFD700;
    margin-left: 4px;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: auto;         
  will-change: transform;
  
}

.scroll-item:first-child {
  min-width: 60vw; /* takes up only 60% of the viewport width */
  flex: 0 0 60vw;
}

.scroll-item {
  min-width: 100vw;     
  flex: 0 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.scroll-content {
  width: 60%;          
  height: 70%;         
  margin: auto;        
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px; 
  overflow: hidden;
  position: relative;
}

.hover-text{
    position: absolute;
    bottom: 10%;
    left:50%;
    transform: translateX(-50%) translateY(10px);
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;
    white-space: nowrap;
}

.scroll-item:hover .hover-text {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.hover-text small {
  display: block;
  margin-top: 4px;
  font-size: 0.85em;
  opacity: 0.85;
  color: #ddd;
  transition: inherit; 
}

/* ensure media doesn't exceed container */
.scroll-content video{
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

#projects {
  position: relative;
  overflow: hidden;     /* prevents horizontal scrollbar while pinned */
  width: 100%;
  height: 100vh;        
  padding-top: 5vh;   /* move contents down */
  padding-bottom: 15vh; /* add buffer at bottom */
  min-height: 130vh;   /* ensures enough space for horzontal scroll*/
}

#project-h2{
    border: none;
}

a:visited {
    color: var(--text);
    text-decoration: none;
}

a:link {
    color: var(--text);
    text-decoration: none;
}

a:hover{
    color: var(--accent-light);
    text-decoration: underline;
}

.copy-email{
    cursor: pointer;
    color: var(--text );
    
}

.copy-email:hover{
    color: var(--accent-light);
    text-decoration: underline;
}

.copy-message {
    margin-left: 10px;
    color : var(--accent);
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.copy-message.show {
    opacity: 1;
}
    

.section {
    background: var(--card);
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    scroll-margin-top: 70px;
}

.tag {
    display: inline-block;
    background: var(--tag);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px 5px 3px 0;
    font-size: 0.9rem;
}


.timeline-item {
    background: var(--card);
    padding: 20px;
    margin-bottom: 20px;
    border-left: 4px solid var(--accent);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}




li {
    list-style: none;
}

footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 1rem;
  color: var(--text);
  background: var(--card);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 60px;
  transition: background 0.3s ease, color 0.3s ease;
}

footer:hover {
  color: var(--accent, #5ac8fa);
}

footer a {
  color: var(--accent, #5ac8fa);
  text-decoration: none;
  font-weight: 500;
}

footer a:hover {
  text-decoration: underline;
}



